.node {
  stroke: black;
  fill: none;
  height: 20;
}
.nodeText {
  fill: steelblue;
}
.inputPorts {
  fill: black;
  cursor: crosshair;
  stroke: black;
  width: 5;
  height: 5;
}
.outputPorts {
  fill: red;
  stroke: red;
  cursor: crosshair;
}
